
html{
    font-size: 16px;
}
/* Add font */
@font-face {
  font-family: 'AryaRegular';
  src: url('/src/font/AryaRegular.ttf') format('truetype');
  font-style:normal;
  font-weight: normal;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rambla&family=Roboto&display=swap');


/* Filters */
.filterCont{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35px;
    margin-bottom: 50px;
  }
  .filterCont h2{
    font-size: 1rem;
    font-family: "Roboto";
    margin-bottom: 30px;
  }
  .filterCont p{
    display: inline-block;
    font-family: "Roboto";
    font-size: 1.25rem;
    width:50%;
  }
  
  /* Style input */
select {
    -webkit-appearance: none;
    width: 250px;
    border:0;
    border-radius: 0;
    border-bottom: 1px solid;
    font-family: "Roboto";
    font-size: 1rem;
    margin-left: 10px;
    padding-left:5px;
    padding-bottom: 3px;
    cursor: pointer;
  }
  select:focus{
    outline: none;
  }
  
  input[type=range] {
    height: 10px;
    -webkit-appearance: none;
    width: 250px;
    margin-left: 10px;
  }
  
  .century_container{
    position:relative;
  }
  .century_label{
    position:absolute;
    bottom:25px;
    left:5px;
    padding:5px;
    font-family: "Roboto";
    font-size: 1rem;
    color:#000000;
  }



  input[type=range]::before{
    content:"XV";
    color:#E0CEBF;
    font-size: 0.875rem;
    font-family: "Roboto";
    position: absolute;
    top:95%;
  }

  input[type=range]::after{
    content:"XX";
    color:#E0CEBF;
    font-size: 0.875rem;
    font-family: "Roboto";
    position: absolute;
    top:95%;
    right:0%;
  }

  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #E0CEBF;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background: #E0CEBF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #E0CEBF;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background: #E0CEBF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1px;
    border: 0px solid #000000;
  }
  
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #E0CEBF;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background: #E0CEBF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }

  .reset_filter{
    font-family: "Roboto";
    font-size: 1rem;
    margin-left:10px;
    background-color: #fff;
    border-color: #D89B25;
    border-width: 1px;
    border-radius: 0px;
    padding:2px 5px;
    border-style: solid;
  }
  .reset_filter:hover{
color:#D89B25;
  }