
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button{
  outline: none;
}




html{
    font-size: 16px;
}
/* Add font */
@font-face {
  font-family: 'AryaRegular';
  src: url('/src/font/AryaRegular.ttf') format('truetype');
  font-style:normal;
  font-weight: normal;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rambla&family=Roboto&display=swap');


.body footer{
    display: grid ;
    grid-template-columns:20% 60% 20% ;
    height: 60px;
    background-color:#743800;
    width:100%;
  }
  
  #contacts{
    display: inline-block;
    color: #fff;
    justify-self: center;
    align-self: center;
  }
  
  #logo{
    align-self: center;
    margin-left:10px;
    max-width: 130px;
    max-height: 65px;
  }
  
  #socialmedia{
    display: inline-block;
    margin-right: 10px;
    align-self: center;
    text-align: right;
  }
  
  #socialmedia a, img {
  max-width:24px;
  max-height:24px;
  margin-left: 15px;
  }
  