
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button{
  outline: none;
}




html{
    font-size: 16px;
}
/* Add font */
@font-face {
  font-family: 'AryaRegular';
  src: url('/src/font/AryaRegular.ttf') format('truetype');
  font-style:normal;
  font-weight: normal;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rambla&family=Roboto&display=swap');

/* Mainpage */
header{
  flex: 0 0 auto;
}

#projectname{
  display: inline-block;
  font-size: 1rem;
  line-height: 20px;
  font-family: "AryaRegular";
  color:#743800;
  margin:10px;
}
#about{
  color: #fff;
  background-color:#D89B25;
  border: 0;
 width:20px;
 height:20px;
 padding: 0;
 border-radius: 0;
 margin-right: 10px;
 margin-top: 10px;
 float: right;
 font-size: 1rem;
 text-align: center;
 cursor: pointer;
}
#backimg{
  background-image: url(images/Mainback.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}
#backimg p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top:50%;
font-size: 1.5rem;
color:#090074;
font-family: 'Rambla', Arial;
}